<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Carte enregistrée !</title>
  </head>
  <body>
    <h1>Bravo !</h1>
    Une nouvelle carte a été enregistrée pour l'utilisateur :
    <strong><%= utilisateur %></strong>
  </body>
</html>
